@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500;600;700&display=swap');

body {
  margin: 0;
  font-family: "Be Vietnam Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
}

:root {
  --navbar-height: 80px;
  --content-width: 1100px;
  --side-padding: 40px;
  --card-padding: 40px;

  --primary-dark: #1b1b12;
  --secondary-dark: #3f3931;
  --orange-accent: #eD871b;
  --orange-accent-dark: #e18018;

  --font-dark: #1b1b12;
  --font-medium: #524330;
  --font-light: #757575;

  --pure-white: #fff;
  --light-bg: #fbf9f7;
  --light-bg-yellow: #FFF8F1;

  --border-radius-style: 10px;
  --border-color: #e4e4e4;

  --nutrition-color: #DBE5B1;
  --exercise-color: #B1E5B8;
  --sleep-color: #f3cfa9;

  --nutrition-color-dark: #646e3c;
  --exercise-color-dark: #43874d;
  --sleep-color-dark: #8f6b45;
}