.nutrition-card {
    background-color: var(--pure-white);
    width: 100%;
    padding: 30px;
    padding-right: 40px;
    border-radius: var(--border-radius-style);
    box-shadow:  0px 10px 30px -16px rgba(62, 53, 45, 0.1);
    -webkit-box-shadow:  0px 10px 30px -16px rgba(62, 53, 45, 0.1);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.el-1 {
    width: 30%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.el-1-1 {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.nutrition-image {
    width: 90px;
    height: 90px;
    border-radius: var(--border-radius-style);
    object-fit: cover;
}

.nutrition-ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
}

.nutrition-ico > .fa {
    color: var(--nutrition-dark);
    opacity: 0.15;
}

.nutrition-name {
    text-decoration: none;
    color: var(--font-medium);
    font-weight: 300;
    font-size: 12px;
}

.nutrition-calories {
    font-size: 14px;
    color: var(--font-light);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}