.navbar, .nav-links {
    display: flex;
    flex-direction: row;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    padding-left:  var(--side-padding);
    padding-right:  var(--side-padding);
}

.nav-links {
    gap: 40px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 0.95em;
} 

.nav-links > * {
    text-decoration: none;
}