.registration-card {
    margin-top: var(--navbar-height);
    min-height: calc(100vh - var(--navbar-height));
    height: 100%;
    width: 50%;
    max-width: 80vw;
    color: var(--font-dark);
    background-color: var(--pure-white);
    padding: var(--card-padding);
    margin: 15px auto;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.registration-card .form {
    color: inherit;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}


.registration-card .form .input-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.name-inputs {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.name-inputs > .input-field {
    width: 100%;
}

.submit-registration {
    align-self: flex-start;
    padding: 25px 30px;
}

.footer {
    font-size: 0.9em;
    color: var(--font-light)
}